*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: navy;
    display: flex;
    height: 100vh;
    width: 100vw;
}
.container{
  height: 40rem;
  width: 80rem;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
}
img{
    height: 30rem;
    width: 13rem;
    border-radius: 10px;
    filter: blur(10px);
    transition: all 0.3s linear;
}
img:hover{
    height: 35rem;
    width: 20rem;
    filter: blur(0px);
}